<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--引入属性文件-->
    <context:property-placeholder location="classpath:database.properties"
                                  ignore-unresolvable="true"/>

    <!--配置数据源-->
    <bean id="JDBCDataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${user}"/>
        <property name="password" value="${password}"/>
    </bean>

    <!--配置Mybatis工厂-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!--数据源-->
        <property name="dataSource" ref="JDBCDataSource"/>
        <!--mapper文件-->
        <property name="mapperLocations" value="classpath:com/holiday/paperManage/dao/mapper/*Mapper.xml"/>
    </bean>

    <!--mapper自动扫描映射-->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!--映射数据访问接口-->
        <property name="basePackage" value="com.holiday.paperManage.dao"/>
        <!--指定工厂-->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

</beans>